.tipsy { font-size: 12px; position: absolute; padding: 5px; z-index: 100000; }

/*
     FILE ARCHIVED ON 08:39:39 Aug 29, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:13:34 Feb 05, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.66
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.011
  esindex: 0.012
  cdx.remote: 8.502
  LoadShardBlock: 338.507 (3)
  PetaboxLoader3.datanode: 290.235 (4)
  PetaboxLoader3.resolve: 196.547 (2)
  load_resource: 180.875
*/