/********************************
 * conference programme styles 
 ********************************/
body .datatable {
    border: none;
    margin-bottom: 10px;
}

.datatable caption {
    text-align: left;
    background: #3C6EAD;
    color: #fff;
    margin-top: 20px;
    padding: 2px 10px;
}

body .datatable th {
    background: #fff;
    color: black;
} 

body .datatable td {
    border-bottom: 1px dotted #999;
}
.datatable tr td:first-child {
    width: 56px;
}
body .datatable td.presentation {
    background: #ddd;
}

body .datatable td.break {
    background: #fff;
}

body .datatable th.track {
    font-weight: bold;
}

td.presentation.odd {
    border-right: 2px solid #C1272D;
    border-left: 10px solid #fff;
}

td.presentation.even {
    border-right: 2px solid #FFC03B; /* yellow */
}

body .datatable td.presentation div {
    font-weight: bold;
    margin-left: 10px;
}

body .datatable td.presentation span {
    display: block;
    font-size: 12px;
}

body .datatable td.presentation span a {
    color: #555;
}

/* ALIGN STUFF INSIDE RIGHT PORTLET */
.addthis_toolbox,
.twitter-follow-button {
    width: 90%;
}

body .right_portlet_title span {
    display: block;
    width: 97%;
    height: 20px;
    padding: 0px 0px 5px 0px;
    margin-top: -3px;
    background: #fff;
    color: #335C9E;
    font-size: 16px;
    border-top: 1px solid #335C9E;
}

body .right_portlet_content ul {
    list-style-type: square !important;
    font-size: 12px;
}

body .right_portlet_content ul li {
    line-height: 115%;
    margin-bottom: 10px;
}

/* OTHER */
ul.menu-bar li.menu-bar-level1:hover {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.art-article h1 {
    font-size: 14px;
}

.art-article img {
    margin-left: -15px; /* comment this line if you crop the map image exactly (with no white border around it) */
}

body .content-header {
    margin-bottom: 10px !important; /* distance between carousel and center-content-holder, on homepage */
}

body .folder-content {
    width: 730px; /* extend schedule tables' width to center-content's width */
}

body #all_speakers {
    display: block !important;
}

body .lof-main-item-desc {
    height: 40px; /* instead of 70px */
}

/********************
 * General 
 ********************/

body {
    margin: 0;
    padding: 0;
    font-family: 'Corporate', Arial, Verdana, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #636363;
    line-height: 19px;
}

p {
    color: #636363;
    padding: 0;
    line-height: 19px;
}

a {
    color: #408cb4;
}

a:visited, a:hover {
    color: #335C9E;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    /*font-size: 14px;*/
    color: #464646;
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #000000;
}

h1 {
    font-size: 20px;
    line-height: 30px;
    color: #335C9E;
}

h2 {
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
}

#center_content h2 {
    border-top: 3px solid #335C9E;
    font-size: 14px; /*16px;*/
}

#center_content h2 span {
    background: #335C9E;
    display: block;
    width: 250px;
    height: 26px;
    padding: 0 1em ;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
}

#center_content h3 span {
    background: none repeat scroll 0 0 #335C9E;
    color: white;
    display: block;
    font-weight: normal;
    height: 26px;
    padding: 0 1em;
    width: 200px;
}

h3 {
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

h4 {
    margin-top: 2.5em;
    font-size: 12px;
    line-height: 20px;
}

h5 {
    font-size: 11px;
    line-height: 20px;
}

h6 {
    font-size: 11px;
    line-height: 20px;
}

legend {
    font-size: 16px;
    font-weight: bold;
    color: #454545;
}

th {
    font-weight: normal;
    background-color: #f2f2f2;
}

hr {
    height: 1px;
    color: #c0e5d1;
}

input,
textarea,
button {
    font-family: 'Corporate', Arial, Verdana, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

input {
    border: 1px solid #CFCFCF;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 0 auto;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}


/********************
 * Layout
 ********************/

/* 4-column grid
230px per column, 20px spacing between columns
4 * 230 + 3 * 20 = 980 */

#content {
    clear: both;
    overflow: hidden;
}

#center_content_holder{
    width: 980px;
}

.portlet-column-left {
    width: 230px;
    float: left;
    margin: -30px 0;
}

.portlet-column-right {
    width: 230px;
    float: right;
    margin: 15px 0px 20px 0px;
}

.portlet-column-right ul li {
    padding: 0 1em;
}

.footer_portlet_content p {
    color: #6D92C2;
    text-align: right;
}

.center-column { 
    width: 980px; 
}

.has-right-portlets .center-column, #center-admin { 
    width: 730px; 
    float: left;
}

.has-left-portlets .center-column { 
    width: 730px; 
}

.has-right-portlets.has-left-portlets .center-column { 
    width: 480px; 
}

.has-right-portlets .center-column-admin { 
    width: 980px;
}

.center-and-right { 
    width: 980px; 
    margin-left: 0; 
}

.has-left-portlets .center-and-right { 
    width: 730px; 
    margin-left: 250px; 
}

.wrap {
    width: 980px;
    margin: 0 auto;
    clear: both;
}

.center-column .portlet {
    margin: 10px 0px;
}


/********************
 * Reusable bits
 ********************/

ul.menu-bar a {
    text-decoration: none;
}

ul.menu-bar li.menu-bar-level1 {
    float: left;
}

ul.menu-bar a.menu-bar-level1-link {
    display: block;
}

ul.menu-bar ul {
    position: absolute;
    display: none;
}

ul.menu-bar li.menu-bar-hover ul {
    display: block;
}

.portlet ul.syndication {
    margin: -10px 0;
}

.portlet ul.syndication li {
    border-bottom: 1px solid #BFBFBF;
    padding: 10px 0;
}

.portlet ul.syndication li:last-child {
    border-bottom: none;
}

.portlet ul.syndication .publication-date {
    color: #039749;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
}

.portlet ul.syndication h4 {
    margin: 0;
    padding: 0;
}

.portlet ul.syndication h4 a {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    font-weight: bold;
}

.portlet ul.syndication h4 a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.portlet ul.syndication .excerpt {
    color: #444444;
}

a.button-like,
a.button-like:hover {
    background-color: #039749;
    font-family: 'Corporate', Arial, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    padding: 8px 10px;
    text-decoration: none;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 20px;
}

pre {
    overflow-x: auto;
}

form fieldset {
    border: 1px solid #999;
    margin: 20px 0;
}

#tabbedmenu, .tabbedmenu {
    line-height:normal;
    margin: 20px 0;
    overflow: hidden;
    border-bottom: 2px solid #335C9E;
}
#tabbedmenu ul, .tabbedmenu ul {
    margin:0;
    padding: 0;
    list-style:none;
}
#tabbedmenu li, .tabbedmenu li {
    float: left;
    margin: 5px 0 0;
    padding: 0 5px 0 0;
    white-space: nowrap;
    list-style-image: none;
}
#tabbedmenu li:last-child, .tabbedmenu li:last-child {
    padding: 0;
}
#tabbedmenu a, .tabbedmenu a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 10px;
    color: #335C9E;
    border: 1px solid #335C9E;
    border-bottom: none;
}
#tabbedmenu #currenttab a, .tabbedmenu #currenttab a, #tabbedmenu .currenttab a, .tabbedmenu .currenttab a {
    background-color: #335C9E;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
#tabbedmenu #currenttab span, .tabbedmenu #currenttab span, #tabbedmenu .currenttab span, .tabbedmenu .currenttab span {
    display: block;
    text-decoration: none;
    font-weight: bold;
}

/********************
 * Content on all pages
 ********************/


#header div#logo-holder {
    margin: 0; /*15px 0;*/
    overflow: hidden;
  padding-bottom: 10px;
  max-height: 117px;
}

#logo-holder h3 {
    color: #c1272d;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    display: inline-block;
  margin-top: 85px;
  float: left;
  margin-left: -479px;
}

#header .wrap #logo-holder #logo {
    margin-right: 20px;
    height: 90px;
}

#header .wrap #logo-holder #site-details #site-title {
    margin: 10px 0px;
}
#site-details {
    margin-top: 1.5em;
    height: 50px;
    margin-left: 3em;
}

#header .wrap #logo-holder #site-details #site-title a {
    color: #374492;
    display: inline-block;
    font-size: 32px;
    font-weight: normal;
    line-height: 25px;
    text-decoration: none;
    width: 480px;
}

#header .wrap #logo-holder #site-details #site-description p {
    color: #5c62a7;
    font-size: 20px;
    font-weight: normal;
    line-height: 19px;
    margin: 0px;
}

#header div#actions {
    float: right;
    width: 270px;
    margin-top: -30px;
}

#header .wrap #actions .right #global-actions {
    margin-right: 15px;
}

#global-actions .login-item span {
    color: #5480b7;
    font-size: 12px;
    font-weight: normal;
    margin-right: 15px;
}


#language,
#language a{
    color: #5480b7;
    font-size: 12px;
    line-height: 30px;
    display: inline-block;
}

#language a {
    text-transform: uppercase;
    font-weight: bold;
}

#language a.current {
    color: #0098AA;
}

#global-search {
    clear: both;
    display: inline;
    position: relative;
    top: 9px;
    width: 260px;
    float: right;
}

#global-search-form {
    display: inline-block;
    width: 270px;
    text-align: right;
}

#global-search-input {
    border: 1px solid #CFCFCF;
    background: #F0F0F0;
    left: 4px;
    margin: 0;
    padding: 4px 10px 6px;
    width: 170px;
    display: block;
    height: 22px;
    float: left;
}

.search-input-button {
    font-size: 14px;
    line-height: 22px;
    border: none;
    background-color: #6B9950;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 10px;
    margin: 0;
    display: block;
    cursor: pointer;
    height: 34px;
    width: 68px;
    float: left;
    text-transform: lowercase;
}

#menu {
    margin-bottom: 10px;
}

#menu ul.menu-bar {
    margin-left: -10px;
    height: 30px;
}

#menu li.menu-bar-hover,
#menu li.menu-bar-hover ul {
    background-color: #F0F0EC;
}

#menu li.menu-bar-hover a {
    color: #633c15;
}

#menu ul ul {
    padding: 8px;
    z-index: 1;
}

#menu ul li {
    font-size: 13px;
    line-height: 30px;
    color: #777;
    text-transform: uppercase;
    font-weight: normal;
    display: inline-block;
}

#menu a {
    color: gray;
    padding: 0 1em;
}

#menu #conf-registration {
    background: #6b9950;
    color: white;
    padding: 3em 2em 0.5em 2em;
    border-radius: 0px 0px 15px 15px;
    font-size: 130%;
    position: relative;
    top: 30px;
    line-height: 3em;
}

#menu #call-for-papers {
    clear: right;
    margin: 80px 22px;
    font-weight: bold;
    position: absolute;
    color: #408CB4;
}

#menu #latest-news {
    background: #6b9950;
    color: white;
    padding: 0.5em 71px 7px;
    border-radius: 15px 15px 0px 0px;
    font-size: 130%;
    position: absolute;
    top: 85px;
    line-height: 3em;
    clear: right;
    margin: 27px 0;
}

.mainsections-menu-ribbon {
    width: 100%;
    background:#3C6EAD;
}

ul.mainsections-menu {
    margin-left: -11px;
    color: #fefffe;
    height: 52px;
}

ul.mainsections-menu a {
    color: #ffffff;
}

ul.mainsections-menu a.menu-bar-level1-link {
    /*max-width: 125px;*/
    height: 28px;
    padding: 12px;
    color: #FEFFFE;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 2em;
}

ul.mainsections-menu a.menu-bar-level1-link span {
    display: block;
    text-align: center;
}

ul.mainsections-menu a.menu-bar-level1-link a {
    display: block;
    text-align: center;
}

ul.mainsections-menu li.menu-bar-current a.menu-bar-level1-link,
ul.mainsections-menu li.menu-bar-hover a.menu-bar-level1-link {
    background-color: #86A5CC;
    color: #ffffff;
}

ul.mainsections-menu ul {
    background-color: #86A5CC;
    color: #00819B;
    z-index: 4;
    font-size: 14px;
}

ul.mainsections-menu ul li {
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #ffffff;
    min-width: 151px;
}

ul.mainsections-menu ul li:last-child {
    border-bottom: none;
}

#breadcrumb {
    margin-bottom: 1em;
}

#breadcrumb ul {
    display: block;
    /*border-top: 1px solid #b6e9f8;*/
    border-bottom: 1px solid #d0d0d0;
    line-height: 40x;
    margin-top: 0px;
    padding: 10px 0;
}

#breadcrumb ul li {
    display: inline-block;
}

#breadcrumb ul li a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
}

#breadcrumb ul li a:hover {
    text-decoration: underline;
}

#footer-mainsections {
    width: 100%;
    margin-top: 55px;
    background-color: #DFF4FA;
    color: #0098AA;
    overflow: hidden;
    padding-top: 20px;
    word-wrap: break-word;
}

#footer-mainsections ul.mainsections-level1 {
    width: 962px;
    margin: 0 auto;
}

#footer-mainsections li.mainsections-topitem {
    float: left;
    width: 105px;
    margin-right: 20px;
}

#footer-mainsections a {
    color: #0098AA;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 0;
    display: block;
}

#footer-mainsections ul li.mainsections-topitem > a {
    height: 50px;
}

#footer-mainsections ul li.mainsections-topitem > a,
#footer-mainsections ul ul li {
    border-bottom: 1px solid #FFFFFF;
}

#footer-mainsections ul ul li:last-child {
    border-bottom: none;
}

#footer-mainsections ul ul a {
    font-weight: normal;
}

#footer {
    clear: both;
    background: #cedbeb;
    width: 100%;
    color: #6d92c2;
    font-size: 14px;
    line-height: 24px;
    margin-top: 2em;
}

#footer hr {
    background: #a7dbbf;
    height: 1px;
    width: 100%;
    border: none;
    margin: 0;
}

#footer a {
    color: #5480b7;
    font-size: 14px;
    line-height: 24px;
    margin-right: 20px;
    text-decoration: none;
}

#footer li {
    display: inline-block;
}

#global-actions {
    margin-top: 1em;
}
acronym {
    text-decoration: none;
    border-bottom: none;
}

#footer a.go-to-top-link {
    margin-right: 0;
}

#fotoer-content-bottom a {
    color: #FFFFFF;
}

#footer-content-top,
#footer-content-bottom {
    padding: 15px 0 0 0px;
    line-height: 1;
}

/********************
 * Specific content
 ********************/

.commentbox_add {
    display: inline-block;
    margin-top: 76px;
}

.logincomment {
    /*color: #fefefe;*/ /* TEMPORARY COMMENTED */
}

.logincomment, .logincomment:hover {
    padding: 10px 8px 10px 28px;
}

.logincomment {
    background-image: url("/web/20240908165302im_/https://privacyforum.eu/portal_layout/privacy_forum/scheme/login-button.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    height: 10px;
    margin-bottom: 0.5em;
    width: 10px;
    border: none;
}

.admin-content #right_port {
    width: 230px;
}
.admin-content #right_port a {
    color: #000;
}
.admin-content #right_port a:visited {
    color: #555;
}
.admin-content #right_port strong {
    color: #000;
}   

.admin-content #center_content {
    width: 730px;
}

.folder_social {
    float: right;
    width: auto;
    display: block;
    clear: none;
}

#admin_this_folder,
#toolbar {
    background-color: #F0F0F0;
    padding: 10px;
    margin: 10px 0;
}

#admin_this_folder a {
    background: #4eb67f;
    border: none;
    color: #fff;
    text-decoration: none;
}

#toolbar input {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #CCCCCC;
    color: #454545;
}

#admin_this_folder a,
#toolbar input.action-button {
    background: #6b9950;
    font-family: 'Corporate', Arial, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    padding: 3px 10px;
}

#admin_this_folder a:hover {
    text-decoration: none;
}

#toolbar input.action-button {
    padding: 1px 10px;
}

table#folderfile_list {
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
}

table#folderfile_list th,
table#folderfile_list td {
    font-size: 14px;
    padding: 10px;
}

table#folderfile_list th {
    background-color: #D3E9F8;
    border: 0;
}

table#folderfile_list th:first-child {
    border-left: none;
}

table#folderfile_list td {
    border-bottom: 1px solid #e9e9e9;
}

table#folderfile_list td img {
    width: 16px;
    height: 16px;
}

table#folderfile_list td.checkin {
    color: #888;
}

#table_contact td {
    text-align: right;
}

.available_langs {
    font-size: small;
    color: #555;
}

.available_langs a {
    padding-right: 0.3em;
    padding-left: 0.3em;
    border-right: 1px solid #41ad00;
}

.available_langs a:first-child {
    border-left:1px solid #41ad00;
}


.portlet.current-mainsection h3 {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #d0d0d0;
    line-height: normal;
}

.portlet.current-mainsection ul {
    padding-left: 0;
}

.portlet.current-mainsection li {
    border-bottom: 1px solid #E9E9E9;
    padding: 10px 0;
}

.portlet.current-mainsection li a {
    text-decoration: none;
    color: #444444;
    font-family: 'CorporateSBold', Arial, Verdana, sans-serif;
}

.site-image {
    margin: 15px 0 0;
}

.portlet-pagination a.prev-link span,
.portlet-pagination a.next-link span {
    background: transparent url('/web/20240908165302im_/https://privacyforum.eu/portal_layout/privacy_forum/scheme/sprite.png') no-repeat scroll -20px -11px;
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
}

.portlet-pagination a.prev-link span {
    background: transparent url('/web/20240908165302im_/https://privacyforum.eu/portal_layout/privacy_forum/scheme/sprite.png') no-repeat scroll -31px -11px;
    margin-right: 5px;
}

.portlet-pagination a.next-link span {
    margin-left: 5px;
}

.portlet-pagination a.prev-link.disabled span {
    background-position:  -10px -11px;
}

.portlet-pagination a.next-link.disabled span {
    background-position:  -11px -19px;
}

.portlet.biodiv-news .portlet-pagination {
    border-top: 1px solid #BFBFBF;
    padding-top: 10px;
    margin-top: 10px;
}

.portlet.biodiv-news .portlet-pagination a {
    color: #000000;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

.portlet.biodiv-news .portlet-pagination a.prev-link {
    float: left;
}

.portlet.biodiv-news .portlet-pagination a.next-link {
    float: right;
}

.portlet.biodiv-news .portlet-pagination a:hover {
    cursor: pointer;
    color: #444444;
}

.portlet.biodiv-news .portlet-pagination .page-count {
    text-align: center;
    font-size: 13px;
}

.portlet.biodiv-news ul.syndication > li {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #BFBFBF;
}

.portlet.biodiv-news .scroll-mask {
    width:230px;
    overflow:hidden;
    margin:0 auto;
}

.portlet.biodiv-news .scroll-panel .scroll-item {
    float: left;
    width: 230px;
}

.right_portlet_content a {
    display: block;
    color: black;
    text-decoration: none;
}

.right_portlet_content input[type="submit"] {
    height: 30px;
    margin: -1px 0px 0px -5px;
    padding: 5px;
    background: #3C6EAD;
    border: 1px solid #3C6EAD;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    font-size: 12px;
}

.right_portlet_content input[name="email"] {
    width: 155px;
    height: 28px;
    padding: 0em;
    background: #e7edf5;
    border: 1px solid #adcee7;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.right_portlet_content table img {
    /*width: 95px !important;*/
    padding:0px 1.5em 0.2em 0px;
}

.portlet {
    margin-bottom: 2em;
}

.right_portlet_content span {
    color: #959595;
}

.right_portlet_title a {
    background: transparent;
    text-decoration: none;
    padding: 0px 5px 10px;
}

.right_portlet_news_title {
    line-height: 22px;
    padding: 0;
    margin: 0;
    color: #335C9E;
    text-transform: uppercase;
    font-size: 16px;
}

.portlet.multimedia-box {
    overflow: hidden;
    margin-bottom: -30px;
}


.multimedia-box .multimedia-pagination a.button-back,
.multimedia-box .multimedia-pagination a.button-forward {
    background: transparent url('/web/20240908165302im_/https://privacyforum.eu/portal_layout/privacy_forum/scheme/sprite.png') no-repeat scroll -134px -28px;
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-left: 10px;
    text-decoration: none;
}

.multimedia-box .multimedia-pagination a.button-back.disabled {
    background-position: -42px -9px;
}

.multimedia-box .multimedia-pagination a.button-forward {
    background-position: -60px -9px;
}

.multimedia-box .multimedia-pagination a.button-forward.disabled {
    background-position: -152px -28px;
}

#multimedia-toggle-view {
    float: right;
}

#multimedia-toggle-view span {
    display: none;
}

#multimedia-toggle-view a#button-toggle-tiled {
    background: transparent url('/web/20240908165302im_/https://privacyforum.eu/portal_layout/privacy_forum/scheme/sprite.png') no-repeat scroll -112px -28px;
    display: inline-block;
    width: 18px;
    height: 12px;
}

#multimedia-toggle-view a#button-toggle-tiled.selected {
    background: transparent url('/web/20240908165302im_/https://privacyforum.eu/portal_layout/privacy_forum/scheme/sprite.png') no-repeat scroll -112px -9px;
}

#multimedia-toggle-view a#button-toggle-full {
    background: transparent url('/web/20240908165302im_/https://privacyforum.eu/portal_layout/privacy_forum/scheme/sprite.png') no-repeat scroll -82px -9px;
    display: inline-block;
    width: 18px;
    height: 12px;
}

.multimedia-box #multimedia-toggle-view a#button-toggle-full.selected {
    background: transparent url('/web/20240908165302im_/https://privacyforum.eu/portal_layout/privacy_forum/scheme/sprite.png') no-repeat scroll -82px -28px;
}

#multimedia-files-tiled {
    position: relative;
    width: 662px;
    margin-top: 15px;
}

.multimedia-group {
    margin: 0 -10px;
}

.multimedia-group a {
    margin: 10px;
}

.multimedia-group a.group {
    width: 230px;
    height: 260px;
    position: relative;
    color: #000000; 
}

.multimedia-group a.group .file-title {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.multimedia-group a.group img {
    margin-bottom: 11px;
    width: 230px;
    height: 200px;
}

.multimedia-group a span.video-button {
    background: transparent url('/web/20240908165302im_/https://privacyforum.eu/portal_layout/privacy_forum/scheme/sprite.png') no-repeat scroll -11px -28px;
    font-size: 1px;
    color: #039749;
    text-indent: -9999em;
    display: inline-block;
    width: 59px;
    height: 40px;
    position: absolute;
    left: 85px;
    top: 80px;
}

#multimedia-files-full {
    margin-top: 15px;
    position: relative;
}

#multimedia-files-full div.multimedia-files {
    background-color: #000000;
    height: 421px;
    width: 630px;
}

.multimedia-file-title {
    margin-bottom: 0;
}

.multimedia-file-label,
.multimedia-file-title-holder,
.multimedia-box a.file-more {
    font-size: 14px;
    line-height: 20px;
    display: block;
}

.multimedia-file-title-holder {
    color: #000000;
}

.multimedia-box a.file-more {
    text-decoration: underline;
}

.multimedia-box a.file-more:hover {
    text-decoration: none;
    cursor: pointer;
}

.highlights-box .highlights-content {
    display: inline-block;
    position: relative;
    width: 666px;
    top: 15px;
}

.highlights-box .highlights-item {
    display: inline-block;
    margin-right: 20px;
}

.highlights-box .highlights-item .field-title {
    display: none;
}

#calendar-content .calendar-top {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 7px;
}

#calendar-content #calendar span {
    color: #444444;
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    width: 28px;
    text-align: left;
}

#calendar-content #calendar .day-label {
    color: #000000;
}

#calendar-content .calendar-current-month {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 200px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
}

.portalmap-map-box {
    float: left;
    width: 760px;
}

.g-boxes {
    width: 17em !important;
}
.g-main-content {
    margin: 0.5em 19em 0 0 !important;
}
.g-main-content fieldset {
    width: 465px;
}

.g-main-content fieldset dt {
    text-align: left !important;
    width: 8em !important;
}
.g-image-link input {
    width: 483px;
}

.g-box-button input {
    margin: 0.5em 1em 0.5em 0 !important;
    width: 10em !important;
}

.g-box .body dd {
    margin-left: 0.5em !important;
}

.g-box dl {
    padding-left: 3px;
}

.album-cover {
    text-align: left !important;
}

.album-cover label {
    padding-left: 0.5em;
}

.g-box .body dt {
    margin: 0 0 0.5em 0.5em !important;
}

.g-box-button {
    text-align: left !important;
}

.image-details-hover {
    padding: 0.5em;
}

/* scheme styles */
.center_portlet_title span ,.right_portlet_title span {
    background-color: #3c6ead;
    padding: 0.5em 1em 0.5em 1em;
    color: white;
    text-transform: uppercase;
}

.center_portlet_title span {
    padding: 0em 0.5em 0em 1em;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    min-width: 250px;
}

.center_portlet_title {
    border-top: 3px solid #3c6ead;
    margin: 1.5em 0em 1em 0em;
}

/* the right portlets don't have border-top anymore, since their inner span has blue background */
.right_portlet_title {
    margin: 1.5em 0em 1em 0em;
}

.center_portlet_content .content_story {
    width: 365px;
    float: left;
}

.center_portlet_content .text_story {
    width: 320px;
}

.center_portlet_content .title_story {
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5em;
    color: white;
    position: relative;
    width: 296px;
    margin-bottom: 1em;
}

.center_portlet_content .text_story a, 
.text_storyer a, .speaker a {
    text-decoration: none;
}

ul#committees {
    padding: 10px;
    width: 30em;
}

ul#committees li {
  margin: 2px 0px;
  padding: 2px 0px;
}

.center_portlet_content #center_speakers {
    width: 99%; /*660px;*/
}

#folder_listing #center_speakers {
    display: inline;
}

.content_speaker {
    display: inline-block;
    padding-right: 20px;
    width: 120px;
    vertical-align: top;
}

.content_speaker img{
    width: 120px;
}

.content_speaker:last-child {
    padding-right: 0px !important;
} 

.text_speaker {
    margin-bottom: 20px;
}

#all_speakers {
    display: block;
    text-align: right;
    padding: 0.5em 6em;
    color: #ca0640;
}

#facebook {
    margin-top: 1.5em;
}

#facebook img {
    padding-right: 5px;
}

#newsletter {
    margin-top: 1.5em;
}

#newsletter img {
    padding-right: 5px;
}

.speaker {
    margin: 2em 0em;
    clear: both;
}

.speaker img {
    float: left;
    padding: 1em;
}

.speaker strong {
    float: left;
    padding-right: 5px;
}

.speaker .title_speaker {
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.speaker .biography, .speaker-biography, .speaker-details{
    margin-top: 1.5em;
}

.site-description p, .center-column .folder_description p{
  margin-top: 1em;
}

.site-description ul li, .center-column .folder_description ul li {
    list-style: square;
    margin-left: 2em;
}

/*.center-column .folder_description p {
    margin-bottom: 25px;
}


/*.center-column .folder_description p {
    margin-bottom: 25px;
}

.center-column .folder_description a {
    text-decoration: underline;
    cursor: pointer;
}

.center-column .folder_description ul {
    display: block;
    margin-left: 45px;
    padding-top: 25px;
}

.center-column .folder_description ul li {
    list-style: disc;
    color: #039749;
    font-size: 16px;
    margin-bottom: 25px;
}

.center-column .folder_description ul li span {
    color: #000000;
}*/

/* slideshow */
ul.lof-main-wapper li, .lof-main-item-desc {
 width:100% !important;
}

.tentativeProgram {
    border-right: 1px solid black;
    border-top: 1px solid black;
    white-space: normal;
    line-height: normal;
    color: -webkit-text;
    text-align: -webkit-auto;
}

.tentativeProgram td {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

span.important{
    background-color: green;
    color: white;
}
/*
     FILE ARCHIVED ON 16:53:02 Sep 08, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:13:34 Feb 05, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.525
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 64.826
  LoadShardBlock: 474.489 (3)
  PetaboxLoader3.datanode: 316.681 (4)
  PetaboxLoader3.resolve: 221.181 (2)
  load_resource: 175.536
*/