---
layout: default
title: Speakers
---

<div class="container">
    <main>
        <section class="hero">
            <h2>Speakers</h2>
        </section>
        <div class="speakers-grid">
            {% for speaker in site.data.speakers %}
            <div class="speaker-card">
                <img src="{{ '/images/' | append: speaker.image | relative_url }}" alt="{{ speaker.name }}">
                <strong>{{ speaker.name }}</strong>
                <span>{{ speaker.affiliation }}</span>
            </div>
            {% endfor %}
        </div>
    </main>
    {% include sidebar.html %}
</div>