<aside>
    <div class="sidebar-box">
        <h3>Organizers</h3>
        <img src="{{ '/images/rsac.png' | relative_url }}" alt="RSA Conference">
        <img src="{{ '/images/plus.png' | relative_url }}" alt="Salzburg University">
        <img src="{{ '/images/goethe_university_of_frankfurt.jpg' | relative_url }}" alt="Goethe University">
        <img src="{{ '/images/platformprivatheit.jpg' | relative_url }}" alt="Plattform Privatheit">
    </div>

    <div class="sidebar-box">
        <h3>Supporters</h3>
        <img src="{{ '/images/Logo-EDPS.png' | relative_url }}" alt="European Data Protection Supervisor">
        <img src="{{ '/images/ECCC.png' | relative_url }}" alt="ECCC" style="margin-top:15px;">
        <img src="{{ '/images/bmftr.svg' | relative_url }}" alt="BMFT" style="margin-top:15px;">
        <img src="{{ '/images/cepis.svg' | relative_url }}" alt="CEPIS" style="margin-top:15px;">
    </div>
</aside>